<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/font.css" />
    <link rel="stylesheet" href="../styles/admin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="main">
      <%-include("adminsidemenu.ejs")-%>
      <div class="right_div">
        <div class="navbar">
          <div>Bar</div>
          <div>profile</div>
        </div>
        <div class="container">
          <h2>Product List</h2>
        </div>
        <div>
          <table>
            <thead>
              <tr>
                <th>sr no</th>
                <th>Product</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Type</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% products.map((product , index)=>{%>
              <tr>
                <td><%= index+1%></td>
                <td>
                  <img
                    src="<%= product.images[0]%>"
                    width="40px"
                    height="40px"
                    alt
                  />
                </td>
                <td><%=product.name %></td>
                <td><%= product.category%></td>
                <td><%= product.price%></td>
                <td><%= product.type%></td>
                <td onclick="editItem('<%= JSON.stringify(product)%>')">
                  edit
                </td>
                <td onclick="deleteItem('<%= JSON.stringify(product)%>')">
                  delete
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  //EDIT ITEM
  function editItem(product) {
    var product = JSON.parse(product);
    localStorage.setItem("editingItem", JSON.stringify(product));
    window.location.href = "/admin/productedit";
  }
  //DELETE ITEM
  async function deleteItem(product) {
    var product = JSON.parse(product);
    var productId = product._id;
    console.log(product);
    let response = await fetch(`/products/${productId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
    });

    let d = await response.json();
    if (d.message != undefined) {
      console.log(d.message);
      alert(d.message);
    } else {
      alert("Product successfully deleted");
    }
    window.location.reload();
  }
</script>
